.select {
    outline: 0.5ch skyblue solid;
}

.stg {
    padding: 0.5lh;
    border-radius: 0.5lh;
}

.day.view .stg > * {
    width: max-content;
}

.day.view .stg {    
    background: orange;
    display: grid;
    justify-content: end;
}

.day.view .stg p {
    padding: 0;
    margin: 0;
    justify-self: start;
}

.week.view .stg {
    background: red;
}

.month.view .stg {
    max-width: 1lh;
    height: 1lh;
    border-radius: 0.25lh;
    background: rgb(223, 186, 86);
}