.select {
    outline: 0.5ch skyblue solid;
}

.stg {
    padding: 0.5lh;
    background: var(--col);
    border-radius: 0.5lh;
}

.day.view .stg > * {
    width: max-content;
}

.day.view .stg {    
    display: grid;
    justify-content: end;
}

.day.view .stg p {
    padding: 0;
    margin: 0;
    justify-self: start;
}

.week.view .stg {
    background: var(--col);
}

.month.view .stg {
    max-width: 1lh;
    height: 1lh;
    border-radius: 0.25lh;
}

.circle {
    aspect-ratio: 1;
    width: 0.5lh;
    height: 0.5lh;
    padding: 0;
    border-radius: 50%;
    margin-right: -0.25lh;
}