.select {
    outline: 0.5ch skyblue solid;
}

.stg {
    padding: 0.5lh;
    background: var(--col);
}

.day.view .stg > * {
    width: max-content;
}

.day.view .stg {    
    display: grid;
    justify-content: end;
}

.day.view .stg p {
    padding: 0;
    margin: 0;
    justify-self: start;
}

.week.view .stg {
    display: grid;
    place-items: center;
    border-radius: 0.15lh;
    padding: 0;
}

.week.view .stg span {
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.month.view .stg {
    aspect-ratio: 2 / 5;
    padding: 0.25lh;
    height: 20%;
    border-radius: 0.175lh;
}

.circle {
    aspect-ratio: 1;
    /* flex-basis: 10%; */
    width: 0.5lh;
    height: 0.5lh;
    padding: 0;
    border-radius: 50%;
    margin-right: -0.25lh;
}